git+https://github.com/authomatic/authomatic.git@32d2e2519aad0858ecdb4118064ec20057b5fae1
authomatic
beaker
chameleon
colander
deform
PasteDeploy
pyramid
pyramid_beaker
pyramid_celery
pyramid-chameleon
pyramid_deform
pyramid_layout
pyramid-mako
pyramid-rpc
pyramid_storage
python-openid2
webhelpers2
webhelpers2_grid

